.list-group{
    max-height: 750px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.checkbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}