<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="poisson-tab" data-bs-toggle="tab" data-bs-target="#poisson" type="button"
            role="tab" aria-controls="poisson" aria-selected="true">Poissons</button>
        <button class="nav-link" id="fruits-de-mer-tab" data-bs-toggle="tab" data-bs-target="#fruits-de-mer" type="button"
            role="tab" aria-controls="fruits-de-mer" aria-selected="false" (click)="loadFruitsDeMer()">Fruits de
            mer</button>
        <button class="nav-link" id="crustaces-tab" data-bs-toggle="tab" data-bs-target="#crustaces" type="button"
            role="tab" aria-controls="crustaces" aria-selected="false" (click)="loadCrustaces()">Crustacés</button>
    </div>
</nav>

<div class="tab-content">
    <div class="tab-pane fade show active" id="poisson" role="tabpanel" aria-labelledby="poisson-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Promotion</th>
                    <th scope="col">Réduction</th>
                    <th scope="col">Qté stock</th>
                    <th scope="col">Qté vendus</th>
                    <th scope="col">Commentaires</th>
                    <th scope="col">Articles à ajouter/enlever</th>
                    <th scope="col">Modifier le pourcentage</th>
                    <th scope="col">Invendu</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produits.poissons" [ngClass]="{ 'table-danger': p.errorMultiple }">
                    <td class="align-middle">{{ p.name }}</td>
                    <td class="align-middle">{{ p.price }} €</td>
                    <td class="align-middle">{{ p.sale_price }} € </td>
                    <td class="align-middle">{{ p.discount }} %</td>
                    <td class="align-middle">{{ p.qte_stock }}</td>
                    <td class="align-middle">{{ p.qte_sold }}</td>
                    <td class="align-middle">{{ p.comment }}</td>
                    <td class="align-middle">
                        <input type="number" class="form-control center" placeholder="Articles à ajouter/enlever"
                            [(ngModel)]="p.stock_update" />
                    </td>
                    <td class="align-middle">
                        <div class="input-group">
                            <input type="number" class="form-control center" placeholder="Modifier le pourcentage"
                                [(ngModel)]="p.discount_update" />
                            <span class="input-group-text" id="percentage">%</span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <input class="form-check-input flex text-align-center" type="checkbox" id="flexCheck" name="isInvendu" [(ngModel)]="p.isInvendu">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="fruits-de-mer" role="tabpanel" aria-labelledby="fruits-de-mer-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Promotion</th>
                    <th scope="col">Réduction</th>
                    <th scope="col">Qté stock</th>
                    <th scope="col">Qté vendus</th>
                    <th scope="col">Commentaires</th>
                    <th scope="col">Articles à ajouter/enlever</th>
                    <th scope="col">Modifier le pourcentage</th>
                    <th scope="col">Invendu</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produits.fruitsDeMers" [ngClass]="{ 'table-danger': p.errorMultiple }">
                    <td class="align-middle">{{ p.name }}</td>
                    <td class="align-middle">{{ p.price }} €</td>
                    <td class="align-middle">{{ p.sale_price }} € </td>
                    <td class="align-middle">{{ p.discount }} %</td>
                    <td class="align-middle">{{ p.qte_stock }}</td>
                    <td class="align-middle">{{ p.qte_sold }}</td>
                    <td class="align-middle">{{ p.comment }}</td>
                    <td class="align-middle">
                        <input type="number" class="form-control center" placeholder="Articles à ajouter/enlever"
                            [(ngModel)]="p.stock_update" />
                    </td>
                    <td class="align-middle">
                        <div class="input-group">
                            <input type="number" class="form-control center" placeholder="Modifier le pourcentage"
                                [(ngModel)]="p.discount_update" />
                            <span class="input-group-text" id="percentage">%</span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <input class="form-check-input flex text-align-center" type="checkbox" id="flexCheck" name="isInvendu" [(ngModel)]="p.isInvendu">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="crustaces" role="tabpanel" aria-labelledby="crustaces-tab">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Promotion</th>
                    <th scope="col">Réduction</th>
                    <th scope="col">Qté stock</th>
                    <th scope="col">Qté vendus</th>
                    <th scope="col">Commentaires</th>
                    <th scope="col">Articles à ajouter/enlever</th>
                    <th scope="col">Modifier le pourcentage</th>
                    <th scope="col">Invendu</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of produits.crustaces" [ngClass]="{ 'table-danger': p.errorMultiple }">
                    <td class="align-middle">{{ p.name }}</td>
                    <td class="align-middle">{{ p.price }} €</td>
                    <td class="align-middle">{{ p.sale_price }} € </td>
                    <td class="align-middle">{{ p.discount }} %</td>
                    <td class="align-middle">{{ p.qte_stock }}</td>
                    <td class="align-middle">{{ p.qte_sold }}</td>
                    <td class="align-middle">{{ p.comment }}</td>
                    <td class="align-middle">
                        <input type="number" class="form-control center" placeholder="Articles à ajouter/enlever"
                            [(ngModel)]="p.stock_update" />
                    </td>
                    <td class="align-middle">
                        <div class="input-group">
                            <input type="number" class="form-control center" placeholder="Modifier le pourcentage"
                                [(ngModel)]="p.discount_update" />
                            <span class="input-group-text" id="percentage">%</span>
                        </div>
                    </td>
                    <td class="align-middle">
                        <input class="form-check-input flex text-align-center" type="checkbox" id="flexCheck" name="isInvendu" [(ngModel)]="p.isInvendu">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="fixed-bottom">
    <div class="card">
        <div class="card-body " [ngClass]="{'text-white bg-danger': haveErrors() }">
            <div class="d-grid gap-4 d-md-flex justify-content-md-end align-items-center">
                <div class="m-0" *ngIf="haveErrors()">
                    {{ messageErrors() }}
                </div >
                <button class="btn me-md-2 btn-sm" type="button" (click)="updateAll()" [ngClass]="haveErrors() ? 'btn-light' : 'btn-secondary'">Envoyer données</button>
            </div>
        </div>
    </div>
</div>