<div *ngIf="haveError" class="alert alert-danger" role="alert">
    Votre recherche est incomplète
</div>
<div class="jumbotron">
   
    <form #f="ngForm">
        <div class="row">
            <div class="col-4">
                <select class="form-select" name="time" ngModel>
                    <option value="">-- Filtrer par date --</option>
                    <option value="day">Jour</option>
                    <option value="month">Mois</option>
                    <option value="year">Année</option>
                </select>
    
            </div>
            <div class="col-4">
                <select class="form-select" name="type" ngModel>
                    <option value="">-- Type de produit --</option>
                    <option value="poissons">Poissons</option>
                    <option value="fruitsDeMer">Fruits de mer</option>
                    <option value="crustaces">Crustacés</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="col-4">
                <button class="btn btn-primary" (click)="search(f)">Rechercher</button>
            </div>
        </div>
    </form>
</div>

<figure *ngIf="haveChart" class="highcharts-figure">
    <div id="container"></div>
</figure>
