<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
</figure> -->

<style type="text/css">
    .jumbotron {
        padding: 4rem 2rem;
        margin-bottom: 2rem;
        background-color: var(--bs-light);
        border-radius: .3rem;
    }
</style>

<div class="jumbotron">
    <form #f="ngForm">
        <div class="row">
            <div class="col-4">
                <select class="form-select" name="time" ngModel>
                    <option value="">-- Type de produit --</option>
                    <option value="day">Jour</option>
                    <option value="month">Mois</option>
                    <option value="year">Année</option>
                </select>
    
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example" name="type" ngModel>
                    <option value="">-- Filtré par date --</option>
                    <option value="poissons">Poissons</option>
                    <option value="coquillages">Fruits de mer</option>
                    <option value="crustaces">Crustacés</option>
                    <option value="all">All</option>
                </select>
    
            </div>
            <div class="col-4">
                <button class="btn btn-primary" (click)="search(f)">Rechercher</button>
            </div>
        </div>
    </form>
</div>